<button class="newBtnBoard btn btn-normal" ng-click="ShowNewPin = !ShowNewPin">Add New Pin</button>
<div class="row">
<div ng-repeat="pin in pins | filter: searchText.search">

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-xs-7 profCard">
						<h1><a href="{{pin.url}}" target="_blank">Title: {{pin.title}}</a></h1>
					</div>
					<a href="{{pin.url}}" target="_blank"><div class="thumbnail"><img src="{{pin.url}}"></div></a>
					<div class="col-xs-1">
						<button class="btn btn-danger" ng-click="Remove(pin.id)">X</button>
          			</div>
				</div>
			</div>
		</div>
</div>

<div class="newBoard" ng-show="ShowNewPin">
	<h2>Make a new pin!</h2>
	<input type="text" placeholder="Title" ng-model="pinTitle"/>
	<input type="text" placeholder="Image URL" ng-model="pinUrl"/>
	<div class="boardBtnBox">
		<button class="btn btn-normal" ng-click="createPin()">Add</button>
		<button class="btn btn-danger" ng-click="ShowNewPin = !ShowNewPin">X</button>
	</div>
	<img src="img/puddle-jump.jpeg" />
</div>
