<h1>Hello, {{user.displayName}}</h1>
<h5><a href="mailto:{{user.email}}?Subject=Notification%20from%20Pinterest">{{user.email}}</a></h5>
<button class="newBtnBoard btn btn-normal" ng-click="ShowNewBoard = !ShowNewBoard">Add New Board</button>
<div class="row">
<div ng-repeat="board in boards">
		
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-xs-7 profCard"> 
						<h1><a href="#/board/{{board.id}}">Title: {{board.title}}</a></h1>
						<h3>Description: {{board.description}}</h3>
					</div>
					<div class="col-xs-1">
						<button class="btn btn-danger" ng-click="Remove(board.id)">X</button>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="newBoard" ng-show="ShowNewBoard">
	<input type="text" placeholder="Title" ng-model="newBoard.title"/>
	<input type="text" placeholder="Description" ng-model="newBoard.description"/>
	<button class="btn btn-normal" ng-click="AddBoard()">Add</button>
	<button class="btn btn-danger" ng-click="ShowNewBoard = !ShowNewBoard">X</button>
</div>
